
@model RoleViewModel;

<form asp-action="addrole" asp-controller="role">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Role Name</label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>

<table class="table my-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Role Name</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 1; }
        @foreach (var item in ViewBag.roles)
        {
            <tr>
                <th scope="row">@i</th>
                <td class="fw-bold opacity-75">@item.Name</td>
            </tr>
           i++;
        }

    </tbody>
</table>